<%- include('./layouts/header') %>

<h1 class="title">Applications</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="grid-container">
    <div class="grid-item">
        <button type="button" class="button" onclick="alert('Access Denied!')">App 1</button>
        </a>
    </div>
  
    <div class=" grid-item">
          <button type="button" class="button" onclick="alert('Access Denied!')">App 2</button>
        </a>
    </div>
  
    <div class=" grid-item">
      <button type="button" class="button" onclick="alert('Login First!')">App 3</button>
    </a>
    </div>
  
    <div class=" grid-item">
      <button type="button" class="button" onclick="alert('Login First!')">App 4</button>
</a>
</div>
  
<div class=" grid-item">
  <button type="button" class="button" onclick="alert('Login First!')">App 5</button>
</a>
</div>

<div class=" grid-item">
  <button type="button" class="button" onclick="alert('Login First!')">App 6</button>
</a>
</div>
  
<div class=" grid-item">
  <button type="button" class="button" onclick="alert('Login First!')">App 7</button>
</a>
</div>
  
<div class=" grid-item">
  <button type="button" class="button" onclick="alert('Login First!')">App 8</button>
</a>
</div>
  
<div class=" grid-item">
  <button type="button" class="button" onclick="alert('Login First!')">App 9</button>
</a>
</div>
        
</body>
</html>
  </ol>
</div>

<%- include('./layouts/footer') %>
